.nightGradient {
	background: rgb(6,7,16); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(6,7,16,1) 0%, rgba(35,36,54,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,7,16,1)), color-stop(100%,rgba(35,36,54,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(6,7,16,1) 0%,rgba(35,36,54,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(6,7,16,1) 0%,rgba(35,36,54,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(6,7,16,1) 0%,rgba(35,36,54,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(6,7,16,1) 0%,rgba(35,36,54,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060710', endColorstr='#232436',GradientType=0 ); /* IE6-9 */	
}
.dayGradient {
	background: rgb(15,82,192); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(15,82,192,1) 0%, rgba(155,221,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,82,192,1)), color-stop(100%,rgba(155,221,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(15,82,192,1) 0%,rgba(155,221,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(15,82,192,1) 0%,rgba(155,221,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(15,82,192,1) 0%,rgba(155,221,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(15,82,192,1) 0%,rgba(155,221,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f52c0', endColorstr='#9bddff',GradientType=0 ); /* IE6-9 */	
}

html,
body {
	height:100%;
	width:480px;
	color:rgba(255, 255, 255, 0.75);
	font-size:18px;
	background:black;
}

body.sleep {
	background:url("../images/backgrounds/night/night-1.png") 50% 0 no-repeat;
}
body.wake {
	background:#10489a url("../images/backgrounds/day/day-1.png") 50% 0 no-repeat;
}

ul.daysOfWeek {
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	line-height:0;
	letter-spacing:-1em;
	white-space:nowrap;
}
	
ul.daysOfWeek li {
	line-height:normal;
	letter-spacing:normal;
	display:inline-block;
	width:25%;
	min-width:5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	opacity:0.5;
	text-transform:uppercase;
	display:none;
}
	
ul.daysOfWeek .today {
	font-size:1.75em;
	display:inline-block;
	opacity:1;
}




.seconds:before,
.minutes:before {content: ":";}

.seconds {display:none;}

.pageContainer {padding-top:4em;}

.wake .pageContainer:before {
	top:.75em;
	right:20%;
	height:4em;
	width:4em;
	-webkit-border-radius: 2em;
	-moz-border-radius:    2em;
	border-radius:         2em;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
	background:#FFF;
	-webkit-box-shadow: (0 0 32px 8px rgba(255, 255, 100, 0.75));
	-moz-box-shadow:    (0 0 32px 8px rgba(255, 255, 100, 0.75));
	box-shadow:         (0 0 32px 8px rgba(255, 255, 100, 0.75));
}

.time {
	text-align:center;
	font-size:5em;
	line-height:1em;
	text-shadow: (0 0 8px rgba(250, 253, 255, 0.5));
}
.time .ampm {font-size:.5em;}
